body
{
background-size: cover;
background-position: center;
}

a
{
    font-size: 20px;
    width:400px;
box-shadow: 10px 10px 10px grey;
border-radius: 10px;
background-color: rgb(220, 213, 227);
color: rgb(0, 0, 0);
}